version: "3.8"

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - .env
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "Europe/Helsinki"
      HOMEPAGE_ALLOWED_HOSTS: "*"
