services:
  homepage:
    image: gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      TZ: "Europe/Helsinki"
      HOMEPAGE_ALLOWED_HOSTS: "*"
      HOMEPAGE_VAR_PROXMOX_USERNAME: ${HOMEPAGE_VAR_PROXMOX_USERNAME}
      HOMEPAGE_VAR_PROXMOX_PASSWORD: ${HOMEPAGE_VAR_PROXMOX_PASSWORD}
      HOMEPAGE_VAR_PROXMOX_URL: ${HOMEPAGE_VAR_PROXMOX_URL}
      HOMEPAGE_VAR_PROXMOX_HREF: ${HOMEPAGE_VAR_PROXMOX_HREF}
      HOMEPAGE_VAR_PIHOLE_HREF: ${HOMEPAGE_VAR_PIHOLE_HREF}
      HOMEPAGE_VAR_PIHOLE_URL: ${HOMEPAGE_VAR_PIHOLE_URL}
      HOMEPAGE_VAR_PIHOLE_KEY: ${HOMEPAGE_VAR_PIHOLE_KEY}
      HOMEPAGE_VAR_NPM_HREF: ${HOMEPAGE_VAR_NPM_HREF}
      HOMEPAGE_VAR_NPM_USERNAME: ${HOMEPAGE_VAR_NPM_USERNAME}
      HOMEPAGE_VAR_NPM_PASSWORD: ${HOMEPAGE_VAR_NPM_PASSWORD}
      HOMEPAGE_VAR_HA_HREF: ${HOMEPAGE_VAR_HA_HREF}
      HOMEPAGE_VAR_PORTAINER_HREF: ${HOMEPAGE_VAR_PORTAINER_HREF}
      HOMEPAGE_VAR_PORTAINER_KEY: ${HOMEPAGE_VAR_PORTAINER_KEY}
      HOMEPAGE_VAR_GRAFANA_HREF: ${HOMEPAGE_VAR_GRAFANA_HREF}
      HOMEPAGE_VAR_INFLUXDB_HREF: ${HOMEPAGE_VAR_INFLUXDB_HREF}